h2 {
    margin-top: 20px;
    font-family: "Bevan", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
  }
  /* HomeStyle.css */

.home {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text */
}

.button-container {
  margin-top: 20px; /* Add margin to separate buttons */
}


  /* HomeStyle.css */

.home {
  position: relative;
}

.pillar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Adjust width as needed */
}

.pillar-left {
  left: 0;
  background-color: green; /* Left pillar color */
}

.pillar-right {
  right: 0;
  background-color: red; /* Right pillar color */
}
